@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-platypi {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.active-category::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: black;
  margin-top: 4px;
}

.swiper-slide img {
  aspect-ratio: 16 / 10;
  object-fit: cover;
}

.peopleSwiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ffb38e; 
  opacity: 0.5;
  margin: 0 6px !important;
}
.peopleSwiper .swiper-pagination-bullet-active {
  background: #4cc0cd; 
  opacity: 1;
  width: 14px;
  height: 14px;
}
